.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
}

.chat {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column-reverse nowrap;

  &__list {
    display: flow-root;

    &__user {
      float: right;
      clear: both;
      margin: 8px 12px 8px 24px;
      background: rgba(#fff, 0.8);
      padding: 2px 8px;
      border-radius: 8px;
    }

    &__assistant {
      float: left;
      clear: both;
      margin: 8px 24px 8px 12px;
      background: rgba(#17698b, 0.8);
      padding: 2px 8px;
      border-radius: 8px;
    }
  }
}

.form {
  flex: 0 0 auto;
  pointer-events: auto;
  background: rgba(#2adea2, 0.6);
  padding: 8px;
  display: flex;
  width: 100%;

  &__input {
    all: initial;
    flex: 1 1 auto;
    background: #fff;
    padding: 2px 8px;
    border-radius: 6px 0 0 6px;
  }

  &__submit {
    all: initial;
    flex: 0 0 60px;
    text-align: center;
  }
}
